@charset "UTF-8";

@media screen and (min-width: 675px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    main {
        width: 675px;
    }
}